# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
*.sqlite3

# Log files
*.log

# Static files
/static/

# Media files
/media/

# Virtual environment
venv/
.env/

# Dependency directories
/.venv/
/lib/
/include/

# Editor-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

/firestore/