asgiref
Brotli
certifi
cffi
charset-normalizer
cssselect2
Django
django-anymail
django-environ
djangorestframework
fonttools
html5lib
idna
pillow
pycparser
pydyf
pyphen
python-dotenv
requests
six
sqlparse
tinycss2
typing_extensions
urllib3
weasyprint
webencodings
zopfli
firebase-admin